<ul>
  <%= image_tag @user.image_link %>
  <li>Name: <%=@user.name%></li>
  <li>Email: <%=@user.email%></li>
  <% if current_user == @user%>
  <li><%= link_to "Edit Profile", edit_user_registration_path %> </li>
  <%end%>
  <%if current_user != @user%>
  <h3>Friendship Status:</h3>
  <% if @user.find_friends.any?{ |f| f==current_user} %>
  You are friends with: <%=@user.name%>
  <li><%= link_to "Unfriend", friendship_path(id:@user.id), method: :delete %></li>
  <% elsif @user.pending_friends.any?{ |f| f==current_user} %>
  <%=@user.name%> sent you friend request!
  <%= accept_reject_pending(@user.id) %>
  <% else %>
  You are not friends with: <%=@user.name%>
  <%= link_to 'Add as friend', friendships_path(user_id:@user.id), method: :post%>
  <%end%>
  <%end%>
</ul>

<h4>Posts:</h4>
<% @user.posts.each do |p| %>
<ul>
  <li>Content : <%= p.content %></li>
  <li>Date : <%= p.created_at.strftime('%m/%d/%Y') %></li>
  <% if current_user == p.author %>
  <li> <%= link_to "Edit", edit_post_path(p) %> </li>
  <li> <%= link_to "Delete", post_path(p), method: :delete %> </li>
  <%end%>
</ul>
<% end %>