<% if current_page?(post_path(@post))%>
<h5 class='text-center text-white mt-3' >Add new comment:</h5>
<% else %>
<h5 class='text-center text-white mt-3'>Edit this comment:</h5>
<% end %>

<%= form_for @new_comment, html: {class:"mb-4"} do |f| %>
<% if @new_comment.errors.any? %>
<% @new_comment.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
<% end %>
<%= f.text_area :content,class:"textarea" %>
<%= f.hidden_field :post_id, value:@post.id%>
<%= f.submit "Submit",class:"btn btn-sm bg-teal btn-block mt-2" %>
<%end%>