<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        Featured1
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  </div>
  <div class="col-md-8 mx-auto">



    <div class="card mb-3">
      <div class="card-header m-0 row bg-white">
          <div class="col-1">
            <%= image_tag "https://secure.gravatar.com/avatar/3acc837f898bdaa338b7cd7a9ab6dd5b?s=50", class:"rounded-circle" %>
          </div>
          <div class="col-11 text-left">
            Author name
            <br/>
            Date
          </div>
      </div>
      <div class="card-body">
        <p class="card-text">the content</p>
      </div>
      <div class="card-footer bg-white">
        <a href="#"><i class="fa fa-lg fa-thumbs-up"></i></a>
        <a href="#"><i class="fa fa-lg fa-thumbs-down"></i></a>
        <div class="d-inline ">
          Like : 0 
        </div>
        <div class="float-right">
        <a href="#" class="btn btn-primary">show</a>
        <a href="#" class="ml-2 btn btn-danger">delete</a>
        </div>
      </div>
    </div>


  </div>
</div>
<div class="border">
    <h2>All posts</h2>

    <% @posts.each do |p| %>
    <ul>
      <li>Content : <%= p.content %></li>
      <li>Author : <%= p.author.name %></li>
      <li>Date : <%= p.created_at.strftime('%m/%d/%Y') %></li>
      <li>Likes : <%= p.likes.count %></li>
      <li> <%= link_to "Show", post_path(p) %> </li>
      <% if p.likes.any? {|like| like.user == current_user}%>
      <li> <%= link_to "Unlike", like_path(id: p.id,post_id: p.id), method: :delete %> </li>
      <% else %>
      <li> <%= link_to "Like", likes_path(post_id: p.id), method: :post %> </li>
      <% end %>
      <% if current_user == p.author %>
      <li> <%= link_to "Edit", edit_post_path(p) %> </li>
      <li> <%= link_to "Delete", post_path(p), method: :delete %> </li>
      <%end%>
    </ul>
    <% end %>
</div>