<!DOCTYPE html>
<html>

<head>
  <title>FinalProject</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%if user_signed_in?%>
  <%= render 'layouts/navbar' %>
  <% end %>
  <%if !notice.nil? || !alert.nil? %>
  <div class='position-absolute text-center w-100'>
    <p class="notice bg-succes text-white"><%= notice %></p>
    <p class="alert bg-danger text-white"><%= alert %></p>
  </div>
  <% end %>

  <%= yield %>
</body>

</html>