<div class="row mt-5">
  <div class="col-md-8 mx-auto text-center bg-white rounded shadow-sm px-3 py-4">

    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name",class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email",class:"form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password",class:"form-control" %>
      <small>(leave blank if you don't want to change it)</small>
      <% if @minimum_password_length %>
      <br />
      <small><%= @minimum_password_length %> characters minimum</small>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "current-password",class:"form-control" %>
      <small>(we need your current password to confirm your changes)</small><br />
    </div>

    <div class="actions">
      <%= f.submit "Update", class:'btn bg-teal btn-block text-white'%>
    </div>
    <% end %>

    <div class="d-flex justify-content-around p-3">

      <%= button_to "Cancel my account", registration_path(resource_name), id:"delete",data: { confirm: "Are you sure?" },class:'btn btn-light', method: :delete %>


      <%= link_to "Back", :back, class:'btn btn-light' %>
    </div>
  </div>
</div>