<div id="wrapper" class='row'>
    <div class='col-md-6 mx-auto w-100 my-auto'>
      <div class="text-center" id='login-wrapper'>
      <%= image_tag('snap.png', class:'logoLogin') %>
        <h5 class='mb-4'>Create new account</h5>
        <%= render "users/shared/error_messages", resource: resource %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-user"><i class="fa fa-user"></i></span>
          </div>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control','aria-describedby' => "basic-user", placeholder: 'First and last name' %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
          </div>
          <%= f.email_field :email,  class: 'form-control', 'aria-describedby' => "basic-addon1",placeholder: "login@example.com",autocomplete: "email" %>
        </div>


        <% if @minimum_password_length %>
        <small>(<%= @minimum_password_length %> characters minimum)</small>
        <% end %><br />
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text pr-3" id="password-addon"><i class="fa fa-lg fa-lock"></i></span>
          </div>
          <%= f.password_field :password, class: 'form-control','aria-describedby' => "password-addon", placeholder: "Enter your password",autocomplete: "new-password" %>

        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text pr-3" id="password-addon2"><i class="fa fa-lg fa-lock"></i></span>
          </div>
          <%= f.password_field :password_confirmation, class: 'form-control','aria-describedby' => "password-addon2", placeholder: "Confirm password",autocomplete: "new-password" %>
        </div>



        <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>

        <div class="actions d-flex justify-content-between w-100">
          <%= f.submit "Sign Up", class:'btn btn-block btn-facebook mr-2' %>
          <%- if controller_name != 'sessions' %>
          <%= link_to "Log in", new_session_path(resource_name), class:'btn btn-block btn-facebook d-block' %><br />
            <% end %>
        </div>
        <% end %>
      </div>
      
    </div>

</div>